In [1]:
a = "India"
print(a)

India

In [2]:
type(a)

str

In [3]:
len(a)

5

Pre-defined functions 

user defined functions - set of instructions and call/execute under a single name/identifier

def - define the function

--------------------- to create/define a function------------
def <function name> (optional parameters/arguments):
        <statement> or <set of statements>
        <optional return value>

In [5]:
# UDF with no arugmennt and no return value
def greetings():
    print('Hello')

In [6]:
greetings()

Hello

In [7]:
# 1-parameter

def greetings(name): #name-parameter/argument
    print('Hello '+name)

In [8]:
greetings('Chennai') # calling function/ function execution

Hello Chennai

In [9]:
# multi parameter

def greetings(fname,lname): #name-parameter/argument
    print('Welcome '+fname + ' and '+lname)

In [10]:
greetings("Rohit", "Kohli")

Welcome Rohit and Kohli

In [24]:
# including return value

def gross_sal(allowance, salary):
    res = allowance + salary
    return res

In [14]:
gross_sal(1000,20000)

21000

In [16]:
e1_allow = 2000
e1_sal = 30000
e1_gross = gross_sal(e1_allow,e1_sal)
print(e1_allow,e1_sal,e1_gross)

2000 30000 32000

In [26]:
e1_allow = 2000
e1_sal = 30000
print(gross_sal(e1_allow,e1_sal))

32000

In [17]:
# named arguments
gross_sal(allowance=500, salary=10000)

10500

In [18]:
gross_sal(salary=10000, allowance=500)

10500

In [20]:
def gross_sal(allowance, salary):
    print('allowance=',allowance)
    print('salary=',salary)
    res = allowance + salary
    return res

gross_sal(500,10000)

allowance= 500
salary= 10000

10500

In [21]:
gross_sal(10000,500)

allowance= 10000
salary= 500

10500

In [22]:
gross_sal(salary=10000, allowance=500)

allowance= 500
salary= 10000

10500

In [23]:
gross_sal(allowance=500, salary=10000)

allowance= 500
salary= 10000

10500

In [29]:
# multiparameter/ multiple return

def mops(a,b):
    add = a + b
    mul = a * b
    sub = a - b
    return add, mul, sub

In [30]:
res = mops(4,3)
print(res)

(7, 12, 1)

In [35]:
type(res)

tuple

In [67]:
a, m, s = res
print(a, type(a))
print(m)
print(s)

7 <class 'int'>
12
1

In [33]:
def gross_sal(allowance, salary):
    #print('allowance=',allowance)
    #print('salary=',salary)
    res = allowance + salary
    return res

gross_sal(500,10000)

10500

In [34]:
gross_sal(1000)

TypeError: gross_sal() missing 1 required positional argument: 'salary'

In [36]:
# default parameter value
def gross_sal(allowance, salary=10000):
    res = allowance + salary
    return res

In [37]:
gross_sal(1000)

11000

In [38]:
gross_sal(1000,20000)

21000

In [39]:
# default parameter value
def gross_sal(allowance=500, salary=10000):
    res = allowance + salary
    return res

In [40]:
gross_sal()

10500

In [41]:
gross_sal(1,2)

3

In [42]:
# default parameter value
def gross_sal(allowance, salary):
    res = allowance + salary
    return res

gross_sal()

TypeError: gross_sal() missing 2 required positional arguments: 'allowance' and 'salary'

In [48]:
# multiple positional arguments
def add_score(*args):
    for i in args:
        print('i=',i)
        
    res = sum(args)
    print('sum=',res)
    return res

In [50]:
print(add_score(1))  # 1 arugment

i= 1
sum= 1
1

In [51]:

print(add_score(1,2))  # 2 arg

i= 1
i= 2
sum= 3
3

In [52]:

print(add_score(1,2,3)) # 3 arg

i= 1
i= 2
i= 3
sum= 6
6

In [54]:
# multiple keyword arguments

def add_score(**kwargs):
    for k,v in kwargs.items():
        print('key=',k,' value=',v)

In [55]:
add_score(wk1="rahul",wk2="pant")

key= wk1  value= rahul
key= wk2  value= pant

In [63]:
def check_param(**fields):
    k = fields.keys()
    if 'eid' not in k or 'ename' not in k:
        result = "incomplete data to process"
    else:
        result = "data accepted for processing"

    #print(result)
    return result

In [ ]:
def check_param(**fields):
    k = fields.keys()
    if 'eid' not in k:
        result = "incomplete data to process"
    elif 'ename' not in k:
        result = "incomplete data to process"
    else:
        result = "data accepted for processing"

    #print(result)
    return result

In [64]:
check_param(eid=101, ename="messi", dept='non-tech', reamrks='sport quota')

'data accepted for processing'

In [66]:
print("The results is:",check_param(ename="messi", dept='non-tech', reamrks='sport quota'))

The results is: incomplete data to process

In [68]:
check_param(eid=101, dept='non-tech', reamrks='sport quota')

'incomplete data to process'

In [69]:
check_param(eid=101, ename="messi")

'data accepted for processing'

In [ ]:
create a user defined function to 
convert a mixed case sentence to all-lower case sentence 
without using any pre-defined funtions

ignore/leave special characters, numbers, spaces, etc


input string: [JAN, FEB, MAR] are the 3-months of the FIRST Quarter !!!
output string:[jan, feb, mar] are the 3-months of the first quarter !!!

In [70]:
import csv
with open('beverage.csv','r') as f:
    juice = list(csv.reader(f,delimiter=';'))

In [71]:
type(juice)

list

In [72]:
juice[:1]

[['fixed acidity',
  'volatile acidity',
  'citric acid',
  'residual sugar',
  'chlorides',
  'free sulfur dioxide',
  'total sulfur dioxide',
  'density',
  'pH',
  'sulphates',
  'alcohol',
  'quality']]

In [73]:
nrows = len(juice)
ncols = len(juice[0])
print(nrows, ncols)

1600 12

In [74]:
juice[:2]

[['fixed acidity',
  'volatile acidity',
  'citric acid',
  'residual sugar',
  'chlorides',
  'free sulfur dioxide',
  'total sulfur dioxide',
  'density',
  'pH',
  'sulphates',
  'alcohol',
  'quality'],
 ['7.4',
  '0.7',
  '0',
  '1.9',
  '0.076',
  '11',
  '34',
  '0.9978',
  '3.51',
  '0.56',
  '9.4',
  '5']]

In [ ]:
['fixed acidity', 0 
  'volatile acidity', 1
  'citric acid', 2
  'residual sugar', 3
  'chlorides', 4
  'free sulfur dioxide', 5 
  'total sulfur dioxide',6
  'density',7
  'pH',8
  'sulphates',9
  'alcohol',10
  'quality'],11

ncols = 12
ncols-1 = 11

In [81]:
# find the mean of the quality
qualities = []
for item in juice[1:]:
    qualities.append(int(item[ncols-1]))
print(qualities)

[5, 5, 5, 6, 5, 5, 5, 7, 7, 5, 5, 5, 5, 5, 5, 5, 7, 5, 4, 6, 6, 5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 6, 5, 6, 5, 6, 6, 7, 4, 5, 5, 4, 6, 5, 5, 4, 5, 5, 5, 5, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 7, 5, 5, 5, 5, 5, 5, 6, 6, 5, 5, 4, 5, 5, 5, 6, 5, 4, 5, 5, 5, 5, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 4, 6, 5, 5, 5, 6, 6, 6, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 5, 5, 5, 5, 5, 7, 5, 5, 5, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 6, 4, 5, 5, 5, 5, 5, 5, 5, 6, 5, 4, 6, 5, 5, 5, 5, 4, 6, 5, 4, 6, 6, 6, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 7, 4, 7, 5, 5, 5, 6, 7, 7, 5, 5, 7, 6, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 5, 5, 6, 4, 6, 6, 5, 6, 5, 7, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 7, 7, 6, 5, 5, 6, 6, 6, 6, 5, 5, 6, 5, 5, 5, 5, 7, 5, 4, 5, 5, 5, 7, 4, 8, 6, 6, 6, 6, 5, 5, 5, 6, 6, 6, 8, 7, 6, 7, 5, 7, 5, 5, 6, 6, 7, 5, 7, 5, 6, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 5, 5, 6, 5, 6, 7, 6, 7, 5, 5, 6, 6, 6, 7, 5, 6, 5, 6, 6, 6, 5, 7, 7, 6, 5, 6, 7, 6, 6, 6, 6, 6, 5, 7, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5, 7, 7, 6, 5, 6, 5, 5, 7, 6, 7, 5, 5, 7, 5, 6, 6, 5, 6, 7, 6, 7, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 7, 8, 6, 5, 5, 5, 7, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 6, 7, 6, 4, 6, 5, 5, 7, 5, 5, 6, 5, 6, 5, 7, 7, 5, 7, 5, 7, 6, 6, 5, 6, 7, 5, 6, 5, 6, 5, 6, 6, 6, 5, 8, 6, 7, 7, 7, 6, 5, 5, 6, 6, 6, 6, 6, 7, 5, 8, 5, 5, 7, 3, 6, 5, 5, 5, 6, 5, 6, 6, 6, 5, 5, 6, 6, 5, 6, 5, 5, 6, 5, 6, 5, 8, 5, 5, 6, 5, 5, 6, 7, 6, 6, 7, 7, 6, 6, 8, 6, 5, 8, 6, 6, 7, 7, 7, 7, 7, 7, 6, 6, 7, 5, 6, 6, 7, 7, 5, 6, 3, 6, 5, 6, 5, 5, 5, 5, 5, 5, 6, 6, 5, 6, 5, 5, 6, 6, 6, 5, 6, 7, 5, 5, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 6, 5, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 4, 6, 6, 4, 5, 5, 6, 5, 5, 5, 7, 7, 6, 7, 5, 8, 7, 5, 6, 5, 5, 5, 5, 6, 6, 6, 6, 4, 6, 5, 6, 6, 6, 7, 6, 6, 6, 5, 5, 6, 5, 6, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 6, 5, 6, 4, 5, 5, 5, 5, 7, 6, 5, 5, 5, 5, 5, 7, 5, 4, 7, 6, 5, 5, 5, 6, 5, 5, 5, 7, 6, 4, 6, 5, 6, 6, 5, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 3, 5, 5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 6, 4, 4, 5, 5, 5, 6, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 6, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 5, 5, 6, 6, 5, 6, 6, 5, 5, 5, 5, 6, 6, 6, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 5, 6, 5, 6, 5, 5, 6, 6, 5, 6, 6, 5, 5, 6, 5, 5, 5, 5, 5, 5, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5, 7, 6, 6, 5, 5, 7, 6, 6, 7, 7, 7, 5, 6, 5, 6, 5, 4, 6, 5, 6, 6, 5, 5, 5, 7, 5, 5, 5, 5, 7, 5, 8, 6, 4, 6, 3, 4, 5, 5, 7, 7, 7, 5, 7, 5, 6, 5, 6, 5, 5, 6, 5, 5, 5, 5, 5, 6, 6, 7, 6, 7, 7, 6, 5, 6, 5, 5, 5, 5, 6, 6, 6, 6, 6, 5, 4, 7, 7, 7, 4, 6, 6, 5, 5, 6, 6, 5, 6, 5, 6, 7, 6, 5, 5, 5, 6, 5, 6, 6, 7, 6, 7, 3, 5, 7, 7, 7, 7, 5, 5, 6, 6, 6, 6, 6, 6, 7, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 5, 7, 6, 4, 5, 7, 5, 5, 6, 5, 5, 6, 6, 4, 7, 5, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 5, 6, 6, 7, 5, 6, 5, 5, 6, 6, 6, 7, 5, 6, 5, 6, 6, 7, 5, 7, 5, 5, 5, 7, 5, 6, 5, 6, 6, 5, 6, 7, 5, 5, 6, 5, 5, 6, 5, 5, 6, 7, 7, 6, 6, 7, 7, 7, 7, 5, 7, 7, 7, 7, 5, 7, 6, 5, 6, 6, 6, 7, 6, 6, 5, 6, 6, 5, 6, 7, 6, 6, 5, 6, 7, 7, 7, 5, 6, 6, 7, 7, 5, 7, 6, 5, 6, 6, 7, 6, 6, 6, 5, 6, 6, 5, 5, 5, 7, 6, 6, 7, 5, 7, 7, 6, 8, 6, 6, 6, 6, 7, 7, 7, 5, 7, 5, 6, 6, 5, 7, 6, 5, 5, 7, 6, 7, 6, 6, 6, 5, 7, 6, 7, 7, 8, 6, 6, 7, 6, 5, 6, 5, 7, 5, 6, 6, 6, 6, 6, 5, 6, 7, 5, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 5, 8, 6, 6, 6, 4, 7, 6, 6, 5, 6, 6, 5, 7, 7, 7, 6, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 6, 7, 6, 6, 7, 6, 5, 6, 6, 5, 7, 7, 6, 5, 7, 6, 7, 5, 5, 5, 5, 7, 6, 6, 6, 6, 6, 6, 6, 6, 4, 7, 5, 6, 6, 5, 6, 5, 5, 6, 5, 6, 5, 4, 6, 5, 7, 5, 6, 6, 6, 6, 6, 6, 6, 7, 8, 5, 7, 7, 7, 5, 7, 7, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 7, 5, 6, 5, 5, 4, 6, 4, 6, 6, 4, 4, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 6, 5, 5, 5, 5, 5, 5, 6, 6, 6, 5, 4, 5, 4, 6, 6, 6, 6, 6, 8, 6, 6, 5, 5, 6, 6, 4, 6, 6, 7, 6, 6, 6, 6, 5, 5, 6, 5, 5, 5, 5, 6, 6, 4, 6, 5, 5, 6, 6, 3, 6, 6, 6, 5, 5, 5, 5, 4, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 7, 6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 5, 6, 5, 5, 5, 6, 6, 6, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 6, 4, 6, 5, 5, 6, 6, 4, 5, 6, 5, 5, 3, 5, 5, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 5, 7, 6, 5, 5, 6, 8, 6, 7, 6, 6, 7, 6, 6, 6, 6, 5, 5, 5, 5, 7, 5, 5, 5, 5, 6, 4, 6, 6, 6, 5, 5, 5, 5, 6, 6, 7, 6, 6, 5, 5, 5, 6, 7, 6, 5, 5, 6, 6, 5, 5, 5, 8, 7, 7, 7, 5, 6, 6, 6, 5, 5, 7, 6, 4, 6, 6, 5, 5, 7, 4, 7, 3, 5, 5, 6, 5, 5, 7, 5, 7, 3, 5, 4, 5, 4, 5, 4, 5, 5, 5, 5, 6, 6, 5, 5, 5, 7, 6, 5, 6, 6, 6, 5, 5, 5, 6, 6, 3, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 5, 6, 5, 5, 6, 4, 5, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 7, 6, 6, 6, 5, 5, 6, 7, 6, 6, 7, 6, 5, 5, 5, 8, 5, 5, 6, 5, 6, 7, 5, 6, 5, 5, 5, 5, 5, 5, 5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 5, 7, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 5, 6]

In [82]:
quality_mean = sum(qualities)/len(qualities)

print('Sum:', sum(qualities))
print('Len:', len(qualities))
print('Mean:', quality_mean)

Sum: 9012
Len: 1599
Mean: 5.6360225140712945