In [ ]:
#identifiers
name
age
gender
a
b
c

In [1]:
# keywords cannot be used as an identifier
True = 1

SyntaxError: cannot assign to True (1770609971.py, line 1)

In [2]:
# should not start with numbers
2in1 = "philips"

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
C:\Users\MZ\AppData\Local\Temp\ipykernel_22376\971806876.py:1: SyntaxWarning: invalid decimal literal
  2in1 = "philips"

SyntaxError: invalid syntax (971806876.py, line 1)

In [3]:
# no spaces(special characters) allowed in the identifier
first name = "Raja"
second name = "ram"

SyntaxError: invalid syntax (878740916.py, line 1)

In [4]:
# allowed - special characters (_) - underscore
first_name = "Raja"
second_name = "ram"

In [5]:
print(first_name)

Raja

In [6]:
print(second_name)

ram

In [7]:
print(first_name, second_name)

Raja ram

In [8]:
item_2in1 = 'philips'

In [9]:
print(item_2in1)

philips

In [10]:
Name = "Mohanraj"
name = "Rajmohan"
print(name, Name)

Rajmohan Mohanraj

In [ ]:
# the methods to print two variables in two lines

In [11]:
print(name)
print(Name)

Rajmohan
Mohanraj

In [12]:
print(name,'\n',Name)

Rajmohan
 Mohanraj

In [14]:
print(name,Name,sep='\n')

Rajmohan
Mohanraj

In [21]:
# Exercise 1:

01_street = "Mount Road" = invalid
print(01_street)

SyntaxError: invalid decimal literal (3442492926.py, line 3)

In [19]:
year = 2024
print(year)

2024

In [20]:
batch_code = 'we23'
print(batch_code)

we23

In [22]:
my-year-of-birth = 1950 = invalid
print(my-year-of-birth)

SyntaxError: cannot assign to expression (1348212528.py, line 1)

In [23]:
street_01 = "Mount Road" 
year = 2024
batch_code = 'we23'
my_year_of_birth = 1950 

print(street_01, year, batch_code , my_year_of_birth)

Mount Road 2024 we23 1950

In [24]:
a = 1
print(a)

1

In [25]:
print(b)

NameError: name 'b' is not defined

In [26]:
a = 10
b = 10
print(a,b)

10 10

In [27]:
# assign one value to multiple variables 
a = b = 10
print(a,b)

10 10

In [28]:
a = 10
b = 20
print(a,b)

10 20

In [29]:
# assign multiple values to multiple variables
a,b = 10, 20
print(a,b)

10 20

In [31]:
#datatypes in python 
# integer
a = 1
print(type(a))

<class 'int'>

In [32]:
# float point
b = 1.34
print(type(b))

<class 'float'>

In [33]:
no_of_employees = 10 # integer
weight_in_kgs = 55.5 # floating point
body_temperature = 98.6 # floating point
print(type(body_temperature))

<class 'float'>

In [35]:
# Boolean = True or false
play_cricket = True
print(type(play_cricket))

<class 'bool'>

In [36]:
# string = set of characters/digits

street_01 = "Mount Road" 
batch_code = 'we23'
print(type(batch_code))

<class 'str'>

In [37]:
# complex datatype
#scientic calculation/computing, signal processing
e = 2+5j
print(e,type(e))

(2+5j) <class 'complex'>

In [ ]:

#Collection
List
Tuple
Set
Dictionary

In [ ]:
# List
#Heterogenous - hold different dataypes
#defined = []

In [38]:
a = [1,2,3]
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>

In [39]:
list1 = ['E001','Kavin',33, 9.5]
print(list1)

['E001', 'Kavin', 33, 9.5]

In [41]:
#['E001', 'Kavin', 33, 9.5]
#[ 0    ,    1   , 2 ,  3 ] = +ve indexing
#[ -4   ,   -3   ,-2 , -1 ] = -ve indexing

list1[1]

'Kavin'

In [42]:
list1[-3]

'Kavin'

In [ ]:
# creation of empty list

In [43]:
a = []
print(a, type(a))

[] <class 'list'>

In [44]:
a = list()
print(a, type(a))

[] <class 'list'>

# add values to the list

In [45]:
a[0]="raji"
print(a)

IndexError: list assignment index out of range

In [46]:
a.append("raji")
print(a)

['raji']

In [47]:
print(a[0])

raji

In [48]:
a[1] = "rani"

IndexError: list assignment index out of range

In [49]:
a.append("rani")
print(a)

['raji', 'rani']

In [50]:
print(type(a))

<class 'list'>

In [51]:
a1 = ["mani","megha"]
print(a1,type(a1))

['mani', 'megha'] <class 'list'>

In [52]:
a.append(["mani","megha"])
print(a)

['raji', 'rani', ['mani', 'megha']]

In [55]:
a = ["raji","rani"]
print(a)
a.extend(["mani","megha"])
print(a)

['raji', 'rani']
['raji', 'rani', 'mani', 'megha']

In [56]:
['raji', 'rani', ***** 'mani', 'megha']
#  0        1           2     3
a.insert(2,"santosh")
print(a)

['raji', 'rani', 'santosh', 'mani', 'megha']

In [ ]:
 ['raji', 'rani', 'santosh', 'mani', 'megha']
    0       1        2         3         4

In [57]:
# count of elements in list
len(a)

5

In [58]:
print('before',len(a), a)
a.remove('santosh')
print('after', len(a), a)

before 5 ['raji', 'rani', 'santosh', 'mani', 'megha']
after 4 ['raji', 'rani', 'mani', 'megha']

In [59]:
print('before',len(a), a)
a.pop(2)
print('after', len(a), a)

before 4 ['raji', 'rani', 'mani', 'megha']
after 3 ['raji', 'rani', 'megha']

In [61]:
a = ['raji', 'gani', 'santosh','mani', 'egha']
print(a)

['raji', 'gani', 'santosh', 'mani', 'egha']

In [62]:
# sort the list
a.sort()
print(a)

['egha', 'gani', 'mani', 'raji', 'santosh']

In [63]:
# reverse the list
a.reverse()
print(a)

['santosh', 'raji', 'mani', 'gani', 'egha']

In [64]:
# find occurence of a value in the list
a.count('raji')

1

In [65]:
a.count('mani')

1

In [66]:
a.count('ani')

0

In [67]:
a = ['raji', 'gani', 'santosh','gani', 'egha']
a.remove('gani')
print(a)

['raji', 'santosh', 'gani', 'egha']

In [68]:
a = ['raji', 'gani', 'santosh','gani', 'egha']
a.count('gani')

2

In [70]:
print(a)

['raji', 'gani', 'santosh', 'gani', 'egha']

In [71]:

#[ 0    ,    1   ,    2 ,     3       4] = +ve indexing
#[ -5  ,    -4   ,   -3   ,  -2 ,    -1 ] = -ve indexing

#gani
print(a[-2], a[3])

gani gani

In [77]:
a[-2:1]

[]

In [78]:
a[-1]

'egha'

In [79]:
a[-2:]

['gani', 'egha']

In [72]:
a[3:-1]

['gani']

In [73]:
a[3:4]

['gani']

In [74]:
a[3:5]

['gani', 'egha']

In [75]:
a[3:]

['gani', 'egha']

In [76]:
a[3::]

['gani', 'egha']

In [81]:
a = ['raji', 'gani', 'santosh','gani', 'egha']
a.removeAll('gani')
print(a)

AttributeError: 'list' object has no attribute 'removeAll'

In [82]:
print(a)

['raji', 'gani', 'santosh', 'gani', 'egha']

In [83]:
#delete the list
del a

In [84]:
print(a)

NameError: name 'a' is not defined