# Loops

FOR loop
WHILE loop

# use if it for iterating( traversing) through a set of values (list, tuple, dict, string, etc)

In [1]:
# traverse thru range
#####################

a = range(1,5)
print(a)

for i in a:
    print(i)

range(1, 5)
1
2
3
4

In [2]:
# traverse the list

a = ['rahul','pant','samson','jurel']
print(a, type(a))

for i in a:
    print(i)

['rahul', 'pant', 'samson', 'jurel'] <class 'list'>
rahul
pant
samson
jurel

In [3]:
# traverse thru string
a = "India"
print(a, type(a))

for i in a:
    print(i)

India <class 'str'>
I
n
d
i
a

In [4]:
# Nested For loops
a = ['rahul','pant','samson','jurel']
print(a, type(a))

for i in a:
    print(i)
    for j in i:
        print(j)

['rahul', 'pant', 'samson', 'jurel'] <class 'list'>
rahul
r
a
h
u
l
pant
p
a
n
t
samson
s
a
m
s
o
n
jurel
j
u
r
e
l

In [5]:
# traverse the tuple

# a = ['rahul','pant','samson','jurel']
a = ('rahul','pant','samson','jurel')
print(a, type(a))

for i in a:
    print(i)

('rahul', 'pant', 'samson', 'jurel') <class 'tuple'>
rahul
pant
samson
jurel

In [6]:
# traverse the set

# a = ['rahul','pant','samson','jurel']
a = {'rahul','pant','samson','jurel'}
print(a, type(a))

for i in a:
    print(i)

{'jurel', 'samson', 'rahul', 'pant'} <class 'set'>
jurel
samson
rahul
pant

In [7]:
# traverse the dict - keys

a = {'wk1':'rahul','wk2':'pant','wk3':'samson','wk4':'jurel'}
print(a, type(a))

for i in a:
    print(i)

{'wk1': 'rahul', 'wk2': 'pant', 'wk3': 'samson', 'wk4': 'jurel'} <class 'dict'>
wk1
wk2
wk3
wk4

In [8]:
# traverse the dict - keys

a = {'wk1':'rahul','wk2':'pant','wk3':'samson','wk4':'jurel'}
print(a, type(a))

for i in a.keys():
    print(i)

{'wk1': 'rahul', 'wk2': 'pant', 'wk3': 'samson', 'wk4': 'jurel'} <class 'dict'>
wk1
wk2
wk3
wk4

In [9]:
# traverse thru dict keys-values

a = {'wk1':'rahul','wk2':'pant','wk3':'samson','wk4':'jurel'}
print(a, type(a))

for i in a.items():
    print(i)

{'wk1': 'rahul', 'wk2': 'pant', 'wk3': 'samson', 'wk4': 'jurel'} <class 'dict'>
('wk1', 'rahul')
('wk2', 'pant')
('wk3', 'samson')
('wk4', 'jurel')

In [10]:
# traverse thru dict values

a = {'wk1':'rahul','wk2':'pant','wk3':'samson','wk4':'jurel'}
print(a, type(a))

for i in a.values():
    print(i)

{'wk1': 'rahul', 'wk2': 'pant', 'wk3': 'samson', 'wk4': 'jurel'} <class 'dict'>
rahul
pant
samson
jurel

In [11]:
#While Loop

#i = 0
#while i < 5:
#    print(i) 
# infinite loop

In [12]:
i = 0
while i < 5:
    print(i) 
    i =  i + 1 # increment by 1 to avoid inifinite looping condition

0
1
2
3
4

In [13]:
# while loop with a list

a = [1,2,3] # list
i = 0
while i < len(a):
    print(a[i])
    i = i + 1

1
2
3

In [14]:
a = [1,2,3] # list
print(a[0])
print(a[1])
print(a[2])

1
2
3

In [15]:
# find sum of elements values in this list
a = [1,2,3] # list

print( a[0] + a[1] + a[2] )

# o/p = 6

6

In [16]:
a = [1,2,3] # list
i = 0
s = 0 # to sum the values during iteration
while i < len(a):
    print('i=',i,'a[i]=',a[i],'start of loop s=',s)
    s = s + a[i]
    i = i + 1
    print('i=',i,'end of loop s=',s)
    print('-'*10)
print('sum=',s)

i= 0 a[i]= 1 start of loop s= 0
i= 1 end of loop s= 1
----------
i= 1 a[i]= 2 start of loop s= 1
i= 2 end of loop s= 3
----------
i= 2 a[i]= 3 start of loop s= 3
i= 3 end of loop s= 6
----------
sum= 6

In [17]:
# remove the value 3 from this list
a = [1,2,3,4,5,3,7,8,3]
print(a,len(a),type(a))

i = 0 
while 3 in a:
    a.remove(3)
print(a)

[1, 2, 3, 4, 5, 3, 7, 8, 3] 9 <class 'list'>
[1, 2, 4, 5, 7, 8]

# CIBIL score
credit score
300-900
Credit Information Bureau India Limited

In [18]:
# print a rating as "Risk" for those who have score of less than 550
cibil_scr = [300,400,500,550,600,650,700,750]

i = 0
rating = ""
listlen = len(cibil_scr)

# only if

while i < listlen:
    if cibil_scr[i] < 550:
        rating = "Risk"
        print(cibil_scr[i], rating)
    i =  i + 1

300 Risk
400 Risk
500 Risk

In [19]:
# print a rating as "Risk" for those who have score of less than 550, more than eqaul to 550 are "Not Risky"
cibil_scr = [300,400,500,550,600,650,700,750]

i = 0
rating = ""
listlen = len(cibil_scr)

# using if and else

while i < listlen:
    if cibil_scr[i] < 550:
        rating = "Risk"
        print(cibil_scr[i], rating)
    else:
        rating = "Not Risky"
        print(cibil_scr[i], rating)
    i =  i + 1

300 Risk
400 Risk
500 Risk
550 Not Risky
600 Not Risky
650 Not Risky
700 Not Risky
750 Not Risky

In [20]:
# print a rating as "Risk" for those who have score of less than 550, 
# 551-650 are "Average"
# 651-750 are "good"
# above 750 are "Excellent"

cibil_scr = [600,300,800,400,500, 550, 200, 600, 100, 650, 700, 750]

i = 0
rating = ""
listlen = len(cibil_scr)
print(listlen)
# using if and elif(else if)

while i < listlen:
    if cibil_scr[i] < 550:
        rating = "Risk"
    elif cibil_scr[i] < 650:
        rating = "Average"
    elif cibil_scr[i] < 750:
        rating = "Good"        
    else:
        rating = "Excellent"
        
    print(cibil_scr[i], rating)
    i =  i + 1

12
600 Average
300 Risk
800 Excellent
400 Risk
500 Risk
550 Average
200 Risk
600 Average
100 Risk
650 Good
700 Good
750 Excellent

break = terminate the loop, there will be NO next iteration
continue = go to next iteration
pass = dont do any thing( when a statement is required but you do not want to code , pass empty statments/ dummy statements)

In [21]:
# list only the risky cibil score (using break to filter)
cibil_scr = [600,300,800,400,500, 550, 200, 600, 100, 650, 700, 750]
print('original:', cibil_scr)
cibil_scr = sorted(cibil_scr)
print('sorted:', cibil_scr)

i = 0
rating = ""
listlen = len(cibil_scr)
print(listlen)

# using if and elif(else if)

while i < listlen:
    if cibil_scr[i] >=550:
        break
    else:
        if cibil_scr[i] < 550:
            rating = "Risk"
        elif cibil_scr[i] < 650:
            rating = "Average"
        elif cibil_scr[i] < 750:
            rating = "Good"        
        else:
            rating = "Excellent"
        
        print(cibil_scr[i], rating)
        i =  i + 1

original: [600, 300, 800, 400, 500, 550, 200, 600, 100, 650, 700, 750]
sorted: [100, 200, 300, 400, 500, 550, 600, 600, 650, 700, 750, 800]
12
100 Risk
200 Risk
300 Risk
400 Risk
500 Risk

In [22]:
i = 0
while True: # infinite loop
    print(i)
    i = i + 1
    if i == 5:
        break

0
1
2
3
4

In [23]:
# list only the risky cibil score (using continue)
cibil_scr = [600,300,800,400,500, 550, 200, 600, 100, 650, 700, 750]
print('original:', cibil_scr)
#cibil_scr = sorted(cibil_scr)
#print('sorted:', cibil_scr)

i = 0
rating = ""
listlen = len(cibil_scr)
print(listlen)

# using if and elif(else if)

while i < listlen:
    if cibil_scr[i] >=550:
        i = i + 1
        continue
    
    if cibil_scr[i] < 550:
        rating = "Risk"
    elif cibil_scr[i] < 650:
        rating = "Average"
    elif cibil_scr[i] < 750:
        rating = "Good"        
    else:
        rating = "Excellent"
        
    print(cibil_scr[i], rating)
    i =  i + 1

original: [600, 300, 800, 400, 500, 550, 200, 600, 100, 650, 700, 750]
12
300 Risk
400 Risk
500 Risk
200 Risk
100 Risk

In [24]:
def addition(a,b):
    print(a+b)
    
addition(1,2)

3

In [25]:
addition(10,2)

12

In [26]:
def mydreams():
    pass

In [27]:
mydreams()