#### Tuples

In [1]:
# creation of Tuple ( heterogeneous = different data types )

a = (1, 'two', 3.0, 4)
print(a, type(a))

(1, 'two', 3.0, 4) <class 'tuple'>

In [2]:
print(a[0])

1

In [3]:
# immutable or not changeable or non-editable
a[0]= 10

TypeError: 'tuple' object does not support item assignment

In [4]:
# create empty tuple

a = tuple()
print(a, type(a))

() <class 'tuple'>

In [5]:
a = ()
print(a, type(a))

() <class 'tuple'>

In [6]:
# homegeneous = same datatype
a = (1,1,1,1)
print(a, type(a))

(1, 1, 1, 1) <class 'tuple'>

In [7]:
a = ('art','art','art') #-> homegeneous
print(a, type(a))

('art', 'art', 'art') <class 'tuple'>

In [8]:
# create a tuple using a list
dow = tuple(['sun','mon','tue','wed','thu','fri','sat'])
print(dow, type(dow))

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat') <class 'tuple'>

In [10]:
dow = ('sun','mon','tue','wed','thu','fri','sat')
print(dow, type(dow))

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat') <class 'tuple'>

In [11]:
# only one argument is expected
dow =  tuple('sun','mon','tue','wed','thu','fri','sat')

TypeError: tuple expected at most 1 argument, got 7

In [9]:
len(dow)

7

In [12]:
# slicing
dow[0]

'sun'

In [13]:
dow

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [14]:
dow[:2]

('sun', 'mon')

In [15]:
a = (1,2,3)
b = (10,20,30)
print(a+b)

(1, 2, 3, 10, 20, 30)

In [16]:
print(a, a*2)

(1, 2, 3) (1, 2, 3, 1, 2, 3)

In [17]:
# 0 1 2 - indexing
# 1 2 3 - values
# error as index-3 is not available
a[3]

IndexError: tuple index out of range

In [18]:
a[2]

3

In [20]:
# usage of operators
b = a*2
print(b)
print(b[5])

(1, 2, 3, 1, 2, 3)
3

In [21]:
c = a*50
print(c)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [22]:
#3 3 3 3 3 3 
len(c)

150

In [26]:
print(a)

(1, 2, 3)

In [25]:
print(c)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [27]:
# [start:stop:step]
print(c[2:50])

(3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2)

In [29]:
print(c[2:150:3])

(3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3)

In [30]:
print(c[2::3])

(3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3)

In [32]:
# [start:stop:step] - blank in stop->till end, blank in step -> increment/step by 1
print(c[1::3])

(2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2)

In [31]:
print(c[2:150:2])

(3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2)

In [33]:
c.count(2)

50

In [34]:
# to check if a value exists - in
a = (1,2,3)
print(3 in a)

True

In [35]:
a = (1,2,3)
print(5 in a)

False

##### unpacking

In [36]:
person = ('Rahul', 6, 'Manager')
print(person, type(person))

('Rahul', 6, 'Manager') <class 'tuple'>

In [39]:
# unpacking collection elements
name, eid, position = person
print(name, eid, position)
print(type(name), type(eid), type(position), type(person))

Rahul 6 Manager
<class 'str'> <class 'int'> <class 'str'> <class 'tuple'>

In [40]:
print(name)
print(position)
print(eid)

Rahul
Manager
6

In [38]:
print(*person)

Rahul 6 Manager

In [41]:
# person = ('Rahul', 6, 'Manager') --> unpacking (ungroup) the collection

cricketer, height, internal_profession = person
print(cricketer)
print(height)
print(internal_profession)

Rahul
6
Manager

In [42]:
person = ('Rahul', 6, 'Manager,coach,cricketer')
cricketer, height, internal_profession = person
print(cricketer)
print(height)
print(internal_profession)

Rahul
6
Manager,coach,cricketer

In [ ]:
# list = []
# tuple = ()
# set = {}
# dict = {}, --> key/pair

##### Set

In [43]:
# set creation
a = {1, 'two', 3.0, 4}
print(a, type(a))

{1, 3.0, 4, 'two'} <class 'set'>

In [44]:
a = {1,2,3,4}
print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [45]:
a = {1,2,3,4, 1,2}
print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [47]:
# empty set creation
a = set()
print(a, type(a))

set() <class 'set'>

In [48]:
a = ()
print(a, type(a))

() <class 'tuple'>

In [49]:
a = []
print(a, type(a))

[] <class 'list'>

In [50]:
a = set()
print(a, type(a))

set() <class 'set'>

In [52]:
# add element to the set

a.add(1)
print(a)
print(type(a))

{1}
<class 'set'>

In [53]:
a.add(2)
print(a,type(a))

{1, 2} <class 'set'>

In [54]:
print(a)

{1, 2}

In [55]:
# remove element from set

a = {1,2,3,4,5}
print(a)
a.remove(2)
print(a)

{1, 2, 3, 4, 5}
{1, 3, 4, 5}

In [80]:
# indexing thru set using list
a = {1,2,3,4,5}
print(a, type(a))
b=list(a)
b[0]

{1, 2, 3, 4, 5} <class 'set'>

1

In [56]:
# deleting an identifier defined with set 

print(a)
del a
print(a)

{1, 3, 4, 5}

NameError: name 'a' is not defined

In [57]:
# clear the data in the set

a = {1,2,3,4,5}
print(a)
a.clear()
print(a)

{1, 2, 3, 4, 5}
set()

In [58]:
# set operations

a = {1,2,3}
b = {3,4,5}
print(a)
print(b)

{1, 2, 3}
{3, 4, 5}

In [59]:
#union in set
print(a | b)

{1, 2, 3, 4, 5}

In [60]:
#intersection in set
print(a & b)

{3}

In [61]:
# difference in set
print(a - b)

{1, 2}

In [62]:
print(b - a)

{4, 5}

#### dictionary

In [66]:
#{key:value} -> pair

# create single key:pair
a = {'eid':100}
print(a, type(a))

{'eid': 100} <class 'dict'>

In [68]:
# create multiple keys-pairs

a = {'eid':100, 'ename':'pant', 'age':26, 'city':'delhi'}
print(a, type(a))

{'eid': 100, 'ename': 'pant', 'age': 26, 'city': 'delhi'} <class 'dict'>

In [69]:
# access dict values using keys

print(a['eid'])
print(a['ename'])
print(a['age'])
print(a['city'])

100
pant
26
delhi

In [70]:
#key - cannot be duplicated
#values - can be duplicated

a = {'eid':100, 'ename':'pant', 'age':26, 'ranji':'delhi', 'ipl':'delhi'}
print(a, type(a))

{'eid': 100, 'ename': 'pant', 'age': 26, 'ranji': 'delhi', 'ipl': 'delhi'} <class 'dict'>

In [72]:
a = {'eid':100, 'ename':'pant', 'age':26, 'city':'delhi', 'city':'mumbai'}
print(a, type(a))
print(a['city'])

{'eid': 100, 'ename': 'pant', 'age': 26, 'city': 'mumbai'} <class 'dict'>
mumbai

In [74]:
a = {'eid':100, 'ename':'pant', 'age':26, 'city1':'delhi', 'city2':'delhi'}
print(a, type(a))
print(a['city1'])
print(a['city2'])

{'eid': 100, 'ename': 'pant', 'age': 26, 'city1': 'delhi', 'city2': 'delhi'} <class 'dict'>
delhi
delhi

In [75]:
# access all keys from the dict

a.keys()

dict_keys(['eid', 'ename', 'age', 'city1', 'city2'])

In [77]:
# access all values from the dict

a.values()

dict_values([100, 'pant', 26, 'delhi', 'delhi'])